.home-container {
    margin-top: 65px;
  }
  
  .ant-carousel {
    .slick-next {
      right: 5px !important;
      &::before {
        content: "";
      }
    }
    .slick-prev {
      left: 5px !important;
      z-index: 1;
      &::before {
        content: "";
      }
    }
  }
  
  .home-card-category {
    margin-top: 15px;
  
    .ant-col {
      background-color: lightsteelblue;
      height: 300px;
      width: 49%;
    }
  }
  .home-slider {
    margin-top: 45px;
  }
  
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 450px;
    margin-right: 30px;
    background-color: #669fbd;
    height: 300px;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }