  
.form-signin-text p {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding: 1rem;
    color: black;
  }
  
  .form-signin-box {
    padding: 1rem 1rem 0;
  
    input {
      width: 100%;
      height: 45px;
      border: none;
      border-bottom: 1px solid darkgray;
      background-color: white !important;
    }
  }
  
  .form-signin-checkbox {
    padding: 1rem;
  }
  
  .form-signin-submit {
    padding: 1rem;
  
    button {
      width: 100%;
      background-color: black;
      color: white;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      height: 40px;
      cursor: pointer;
    }
  }