$font-size-base: 14px;
$font-size-title: 30px;

//Fonts
$font-opensans-regular: 'Open Sans Regular';
$font-opensans-bold: 'Open Sans Bold';
$font-helvetica: 'Helvetica';
$font-helvetica-bold: 'Helvetica Bold';


//Colors
$main: #4895ef;
$black: #000000;
$color-orange: #ff7b00;